* {
    padding: 0;
    margin: 0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none; /* Prevents scroll chaining */
    background-color: #333;
}

.container {
    max-width: 1440px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding-left: calc(100vw - 100%);
    background-color: #f5f5f5;
    height: 100vh;
    border-radius: 20px;
    /* border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

h1, .wrapper {
    padding: 10px;
}

h2 {
    padding: 10px 0;
}

.wrapper {
    display: flex;
    gap: 30px;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left-column {
    flex: 3;
    flex-shrink: 0;
}

.right-column {
    flex: 7;
}

.input-row {
    display: flex;
    gap: 10px;
}

.row-items {
    flex: 1;
    gap: 10px;
}

.input-section, .inventory-section, .result-section {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
}

button {
    cursor: pointer;
    background-color: #f44336;
    color: white;
}

button:hover {
    background-color: #d32f2f;
}

.inventory-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.inventory-item select, .inventory-item input {
    width: calc(50% - 10px); /* Adjust to fit within the inventory-item */
}

.inventory-item button {
    width: calc(25% - 10px); /* Adjust to fit within the inventory-item */
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.inventory-item button:hover {
    background-color: #d32f2f;
}

#results {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.result-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(147, 147, 147, 0.1);
    flex-direction: column;
    justify-content: center;
    width: 110px;
    height: 110px;
}

.result-item img {
    width: 60px;
    height: 60px;
}

.result-item span {
    font-size: 15px;
    text-align: center;
}

.result-item:hover {
    background-color: #ccc;
}